{% load static %}


<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Blog</h2>
                    <div class="breadcrumb__option">
                        <a href="#">Blog Category</a>
                        <span>{{ category.blog_cat_name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>