

<div class="modal modal2 fade" id="myModal2" tabindex="-1" role="dialog"
 aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body login-text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" 
        id="login-modal" 
        data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-primary" 
        id="dis-login" 
        data-dismiss="modal">LOGIN</button>
      </div>
    </div>
  </div>
</div>